body {
  background-color: rgba(44, 209, 23, 0.418);
}

.images {
  border: 5px solid #ffffff;
  border-radius: 25px;
  box-sizing: border-box;
  height: 600px;
  width: 500px;
  object-fit: cover; 
  object-position: center;
  margin-right: 50px;
}
.text {
  font-size: medium;
  font-family: cursive;
  width: 500px;
  margin: auto;
  padding-bottom: 15%;
}


.container {
  width: 1500px; 
  margin: 0 auto; 
}
.box {
  display: flex;
  gap: 10px; 
  align-self: auto;
}
.header {
  font-family: sans-serif;
  width: 500px;
  margin-left: 30%;
}
